@import "tailwindcss";

:root {
  --color-primary: white;
  --color-primary-hover: #F3F4F6;
  --color-secondary: #F3F4F6;
  --color-secondary-hover: #6B7280;
  --color-font-primary: black;
  --color-font-secondary: #6b7280;
  --color-border-primary: #E5E7EB;
  --color-button: #1D4ED8;
  --color-button-hover:#1E40AF;
  --color-button-focus:#93C5FD;
  --color-symbols: #1976D2;
  --color-symbols-hover: #F3F4F6;
}

html,
body {
  background-color: var(--bg-color);
  margin: 0;
  min-height: 100%;
}

#root {
  min-height: 100dvh;
  background-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #111827;
  }
}
