@import "tailwindcss";

:root {
  --bg-color: white;
}

html,
body {
  background-color: var(--bg-color);
  margin: 0;
  min-height: 100%;
}

#root {
  min-height: 100dvh;
  background-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #111827;
  }
}
