@import "tailwindcss";

:root {
  --bg-color: white;
  --color-primary: #1F2937;
  --color-primary-hover: #1976D2;
  --color-secondary: #F3F4F6;
  --color-secondary-hover: #6B7280;
  --color-button: #1976D2;
  --color-button-hover:#1d4ed8;
  --color-symbols: #1976D2;
  --color-symbols-hover: #F3F4F6;
}

html,
body {
  background-color: var(--bg-color);
  margin: 0;
  min-height: 100%;
}

#root {
  min-height: 100dvh;
  background-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #111827;
  }
}
