@import "tailwindcss";

:root {
  --bg-color: white;
}

#root {
  background-color: var(--bg-color);
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #111827;
  }
}
